<div class="container p-3 d-flex flex-column align-items-end">
  <div>
    <h1 class="p1">Play with the text & number</h1>
  </div>

  <div>
    <div class="d-flex gap-5">
      <div class="d-grid gap-2">
        <h6><b>Increase by one</b></h6>
        <button (click)="plus()" class="btn btn-outline-warning  btn-lg"><b>Press +</b></button>
      </div>

      <div class="d-grid gap-2">
        <h6><b>Decrease by one</b></h6>
        <button (click)="minus()" class="btn btn-outline-danger  btn-lg"><b>Press -</b></button>
      </div>
    </div>
    <div class="d-flex justify-content-center custom">
      <h1 [ngClass]="{
        'positive' : num >= 0,
        'negative' : num < 0
     }">{{ num }}</h1>
    </div>
  </div>
</div>
